// Mixins in here

.easternblue-btn(@font){
    color: #ffffff;
    background-color: #008080;
    width: 80%;
    height: 16%;
    padding-top: 4%;
    border-radius: 10px;
    text-align: center;
    font-size: @font;
}